
.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
.logo span {
  color: MediumAquamarine;
}
.header nav {
  padding-right: 40px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
div {
    display: block;
}
div {
    border: 1px solid black;
}
.content {
    display: flex;
    width: 1232px;
    margin: 0 auto 78px auto;
    padding-top: 116px;
}
.lead-story .image-content {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
    width: 630px;
    margin-top: 0;
    font-size: 40px;
    text-align: left;
}
.image-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    font-family: Georgia;
    font-weight: bold;
    color: white;
    text-align: center;
}
.story {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.column {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}
.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
h2 {
    display: block;
    font-size: 1.5em;
}
.news-bites h3 {
    margin-bottom: 41px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
h3 {
    display: inline-block;;
    font-size: 1.17em;
    font-weight: bold;
}
